* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --base-font-size: 16px;
  --header-font-size: 16px;
}

/* 超小屏幕（手机竖屏） */
@media (max-width: 480px) {
  :root {
    --base-font-size: 4vw;
    --header-font-size: 6vw;
  }
}

/* 小屏幕（手机横屏） */
@media (min-width: 481px) and (max-width: 600px) {
  :root {
    --base-font-size: 3.5vw;
    --header-font-size: 5.5vw;
  }
}

/* 中等屏幕（平板） */
@media (min-width: 601px) and (max-width: 1024px) {
  :root {
    --base-font-size: 2.5vw;
    --header-font-size: 4.5vw;
  }
}

/* 大屏幕（桌面） */
@media (min-width: 1025px) {
  :root {
    --base-font-size: 3.5vw;
    --header-font-size: 5.5vw;
  }
}

/* 基本样式 */
body {
  font-size: var(--base-font-size);
  background-image: url("./assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Microsoft YaHei", Arial, sans-serif; /* 优先使用微软雅黑，如果系统不支持则使用 Arial，最后使用系统默认的 sans-serif 字体 */
  /* line-height: 1.6; */
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.game-header {
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 10px 25px;
  justify-content: space-between;
}

.game-header .aws-logo {
  width: 120px;
  height: 30px;
  background-image: url("./assets/aws-logo.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  display: flex;
}

.game-header .ym-logo {
  width: 120px;
  height: 30px;
  background-image: url("./assets/ym-logo.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  display: flex;
}

.agent-container {
  width: 100vw;
  height: 100vh;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 70%;
}

.agent-container.agent-1 {
  background-position: calc(100% + 150px) calc(100% + 100px);
}

.agent-container.agent-2 {
  background-position: calc(100% + 150px) calc(100% + 100px);
}

.agent-container.agent-3 {
  background-position: calc(100% + 150px) calc(100% + 100px);
}

.agent-container.agent-4 {
  background-position: calc(100% + 150px) calc(100% + 100px);
}

.agent-container.agent-5 {
  background-position: calc(100% + 150px) calc(100% + 100px);
}

.agent-container.agent-6 {
  background-position: calc(100% + 150px) calc(100% + 100px);
}

.content-box {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  overflow-y: scroll;
  scrollbar-width: none;
  line-height: 1.4em;
}

.content-box.thinking {
  width: 65vw;
  height: 45vh;
  border-radius: 20px;
}

.content-box.statement {
  width: 50vw;
  height: 15vh;
  border-radius: 10px;
}

.game-thinking-header,
.game-statement-header {
  color: #fff;
  font-size: var(--header-font-size);
  padding: 10px 0;
}

.game-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-inner {
  padding: 5px 20px;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  /* background-image: url("./assets/blur-bg.png"); */
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.dark-bg.dark {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
  /* background-image: url("./assets/blur-bg.png"); */
  background-size: cover;
  background-position: center center;
}

.dark-bg.light {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  /* background-image: url("./assets/blur-bg.png"); */
  background-size: cover;
  background-position: center center;
}

.content-choose-box {
  padding: 10px;
  /* border: 1px solid #fff; */
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  box-shadow: 1px 1px 4px #fff;
}

.content-choose-box.active {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 2px 2px 2px #000;
  color: #333;
}

.choose-fact {
  padding: 3vw;
  font-size: 5vw;
}

.out-marker {
  color: #fff;
  padding: 20px;
  width: 30vw;
  height: 30vw;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 10vw;
}

.under-cover-marker {
  color: #f00;
  padding: 20px;
  width: 30vw;
  height: 30vw;
  border: 5px solid #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 10vw;
}

.message-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.fixed-status {
  position: fixed;
  z-index: 99;
  top: 10px;
  right: 2px;
}
